.root{
	
	-fx-background-color:#f7f7f7/*#A4C400/#848D00/*white//*#424242*/;

}

#bas{
	-fx-background-color:#424242;
}
#t{
	-fx-background-color:#f7f7f7;
}
#p{
	-fx-background-color:#f7f7f7;
}
#contenu{
	-fx-background-color:white;
} 

#quitter{
	
    -fx-background-color: transparent; 
    
}
#quitter:hover {
    -fx-background-color: #f44336;
    
}

#profil{
	
    -fx-background-color: transparent; 
	  
    
   
}
#profil:hover {
    -fx-background-color: #4CAF50;
   
}
#top{
	 -fx-background-color:#848D00;
}

#gestion{
	
    -fx-background-transparent: transparent; 
    
   
}
#gestion:hover {
    -fx-background-color: #008CBA;
   
}
#message{
	
    -fx-background-color: transparent; 
    
}
#message:hover {
    -fx-background-color: #F88F00;
   
}









	
		
	

	

	